# For development
version: "3.8"

services:
  keycloak:
    image: keycloak/keycloak:26.4.7
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "8080:8080"
  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
