server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://list-keep-postgres:5432/postgres
    username: postgres
    password: ${POSTGRES_PASSWORD}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL}
